* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font: 15px Century, sans-serif;
    
}

header, main, footer {
    max-width: 600px;
    display: table;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: rgb(156, 231, 196);
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border-radius: 1rem;
}

header img {
    margin: 0 auto;
    border-radius: 5rem;
}

ul {
    padding: 1rem;
    border-bottom: rgb(231, 156, 171) solid;
    border-top: rgb(231, 156, 171) solid; 
    margin-bottom: .5rem;;
}
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20px 20px ;
    border: 1px solid #bbb;
    padding: .5rem;
    background-color: rgb(156, 231, 196);
    text-align: center;
    padding-left: 2rem;
    border-radius: 1rem;
}

