@media only screen and (min-width: 28em) {
	main {
        display: grid;
        grid-template-columns: 35em;
    }

    #hero {
        grid-column: 1 / span 2;
    }
    #news {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    
    #spotlights {
        grid-row: 3;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #spotLight1, #spotLight2 {
        grid-row: 1;
        
    }
    
    #join {
        display: block;
        grid-column: 1 / span 2;
        grid-row: 4;
    }
    #event, #weather {
        grid-row: 5;
    }

    footer {
        grid-template-columns: 10em 1.5fr 1fr;
    }
    #footerlogo {
        grid-row: 1 / span 3;
        grid-column: 1;
        display: block;
    }
    #name {
        text-align: left;
        font-size: 1.5em;
    }
    #address {
        grid-row: 2;
        text-align: left;
    }
    #location, #phonenumber {
        grid-column: 3;
    }

    #copyRight, #lastUpdated {
        grid-column: 1 / span 3;
    }
}