@media only screen and (min-width: 28em) {
	main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    header div {
        justify-content: space-around;
    }  
    #hero {
        grid-column: 1 / span 2;
    }
    #news {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    
    #spotlights {
        grid-row: 3;
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    #spotLight1, #spotLight2 {
        grid-row: 1;
    }
    
    #join {
        display: grid;
        grid-column: 1 / span 2;
        grid-row: 4;
    }

    footer {
        grid-template-columns: 1fr 1.5fr 1fr;
        grid-template-rows: 1fr;
    }
    #footerlogo {
        grid-row: 1 / span 3;
        grid-column: 1;
        display: block;
    }
    #name {
        text-align: left;
        font-size: 1.5em;
    }
    #address {
        grid-row: 2;
        text-align: left;
    }
    #location, #phonenumber {
        grid-column: 3;
    }   
    #contactinfo {
        display: flex;
        flex-direction: column;
    }
    #bottomfooter {
        grid-column: 1 / span 3;
    }

    /* Discover Page Enhancements*/
    .demo {
        display: grid;
        grid-template-columns: 1fr .5fr;
    }

    #population {
        grid-row: 2;
    }
    #education {
        grid-row: 3;
    }

    #race {
        grid-row: 4;
    }

    #income {
        grid-row: 5;
    }
    .demo div picture img {
        width: 95%;
    }
    .demo div picture img:hover {
        box-shadow: 0 0 50px #333;
    }
    /* Directory*/
    .list .cards {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    .list .cards section img {
        display: flex;
    }
}