/* Small/Phone View ***************/

body {
	font-family: "Sansita", Ubuntu, sans-serif;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}


header,
footer {
    margin: 0;
	background-color: #dda8b5;
	display: grid;
    text-align: center;
}
#title {
    font-size: 1em;
}
#today {
    margin: .5em;
    padding: .3em;
    background-color: #c9e4d9;
    border-radius:  .25em;
}

.social {
    padding: 10px;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

header div {
    display: flex;
}

div {
    text-align: center;
    justify-content: space-around;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation li a:hover {
    background-color: #dbecf4;
    border-radius: 1em;
    border-style: solid;
}
.navigation a.ham::before {
	content: '\2630';;
}

#banner {
    display: none;
    border-style: solid;
    margin: auto;
    margin-bottom: .4em;
    padding: .2em;
    width: 50%;
    border-radius: 1em; 
    background-color: #dbecf4;
}

main div {
    margin: 1em;
    background-color: #c9e4d9;
    border-radius: .3em;
}

#spotlights {
    display: grid;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}

#spotlights section p {
    border-top-style: solid;
    padding-top: 1em;
}

#spotLight1, #spotLight2, #spotLight3 {
    border-style: solid;
    border-radius: .3em;
    padding: 5px;
    margin: 5px;
}

#spotLight3 {
    display: none;
}

.weatherWidget h4 {
    margin: .3em;
    border-bottom-style: solid;
}

#temp {
    font-size: 4.5em;
}

#unit {
    font-size: 3em;
}

#join {
    display: none;
}

footer {
    grid-template-columns: 1fr;
}

footer div {
    display: grid;
}

#bottomfooter {
    margin: .3em;
    border-top-style: solid;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/

.responsive li {
	display: block; 
}

.responsive a.ham::before {
	content: "❌ ";
}

#hero {
    position: relative;
    padding: 0;
    
}

#hero picture img {
    width: 100%;
    height: 100%;
    border-radius: .3em;
}

.heroSection {
	position: absolute;
	bottom: 25px;
	right: 25px;
	background: radial-gradient(#c9e4d9 ,#dbecf4 );
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.9;
    border-radius: .5em;
}

.heroSection span {
	font-style: italic;
	font-weight: 700;
}

button {
    width: 50%;
    background-color: #c9e4d9;
    position: relative;
    top: 37%;
    left: 25%;
    border: 2px solid #f2856d;
    border-radius: 1.5em;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #f2856d; /* Green */
    color: white;
}

.more {
    border: none;
    left: 0%
}
