/* Small/Phone View ***************/

body {
	font-family: "Sansita", Ubuntu, sans-serif;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}


header,
footer {
    margin: 0;
	background-color: #dda8b5;
	display: grid;
    text-align: center;
}
#title {
    font-size: 1em;
}
#today {
    margin: .5em;
    padding: .3em;
    background-color: #c9e4d9;
    border-radius:  .25em;
}

.social {
    padding: 10px;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
}

header div {
    display: flex;
}

div {
    text-align: center;
    justify-content: space-around;
}

.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
.navigation li a:hover {
    background-color: #dbecf4;
    border-radius: 1em;
    border-style: solid;
}
.navigation a.ham::before {
	content: '<img src="images/Temple Icon.png" alt="Temple LOGO" width=64px height=64px>';
}

#banner {
    display: none;
    border-style: solid;
    margin: auto;
    margin-bottom: .4em;
    padding: .2em;
    width: 50%;
    border-radius: 1em; 
    background-color: #dbecf4;
}

main div {
    margin: 1em;
    background-color: #c9e4d9;
    border-radius: .3em;
}

#spotlights {
    display: grid;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    
}

#spotlights section p {
    border-top-style: solid;
    padding-top: 1em;
}


#spotLight5 {
    display: none;
}

.weatherWidget h4 {
    margin: .3em;
    border-bottom-style: solid;
}

#temp {
    font-size: 4.5em;
}

#unit {
    font-size: 3em;
}

#join {
    display: none;
}

footer {
    grid-template-columns: 1fr;
}

footer div {
    display: grid;
}

#bottomfooter {
    margin: .3em;
    border-top-style: solid;
}

.responsive li {
	display: block; 
}

.responsive a.ham::before {
	content: "âŒ ";
}

#hero {
    position: relative;
    padding: 0;
    
}

#hero picture img {
    width: 100%;
    height: 100%;
    border-radius: .3em;
}

.heroSection {
	position: absolute;
	bottom: 25px;
	right: 25px;
	background: radial-gradient(#c9e4d9 ,#dbecf4 );
	border: 1px solid #000;
	padding: 1.5rem;
	box-shadow: 0 0 30px #333;
	opacity: 0.9;
    border-radius: .5em;
    max-height: 6.5em;
}

.heroSection span {
	font-style: italic;
	font-weight: 700;
}

button {
    width: 50%;
    background-color: #c9e4d9;
    position: relative;
    top: 37%;
    left: 25%;
    border: 2px solid #f2856d;
    border-radius: 1.5em;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #f2856d; /* Green */
    color: white;
}

.more {
    border: none;
    left: 0%
}

/* Discover Page Enhancements*/
.demo div picture img {
    width: 20em;
    border-radius: 1em;
    padding: .5em;
    filter: blur(0em);
    transition: filter 1s;
}

.sidepics p {
    font-size: 1.3em;
}

.demo div picture img[data-src] {
    filter: blur(0.2em);
  }
  
#demographic {
    list-style: none;
    font-size: 1.5em;
}
#population {
    max-height: 1000px;
}

/*   Forms    */
form fieldset {
    margin: 2rem 1rem;
    border: 1px solid #f2856d;
    padding: .5rem 2%;
}

form legend {
    color: #c9e4d9;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;

}

form label.top input {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;


    padding:.75rem;
    color: #555;
    width: 90%;
    max-width: 20rem;
    background: radial-gradient(#c9e4d9 ,#dbecf4 );
}

form label.sbs {
    display: block;
    padding: .75rem;
    color: #555;
}

#btnSubmit {
    border: none;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2%;
    width: 96%;
    position: static;
}

form label.top input:required {
    border-left: #cc5472 solid 6px;
}

form label.top input:required:valid {
    border-left: #239165 solid 6px;
}

#thankyou img {
    display: block;
    margin:  4px;
    width: 98%;
    object-fit: contain;
}
#business {
    width: 95%;
    height: 12rem;
    margin-left: .3rem;
    margin-top: .3rem;
}

/* Direcctory */
.cards, .tables {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
   
}

.cards section, .tables section {
   margin: .2em;
   background-color: #c9e4d9;
   border-radius: .3em;
}

#directory {
    text-align: center;
}

.list .cards section h4,.list .cards section img {
    display: none;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}


.list section {

	flex-direction: row;
	justify-content: left;
}

.list section > * {
	margin: 0 1rem;
	text-align: left;
}
.list section h4, .list section h2 {
    display: block;
    flex: 1 1 auto;
}

/*Contact Page*/
#contactimg {
    border-radius: 2em;
}
table, th, td {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
