@media only screen and (min-width: 57em){
    aside {
        display: block;
        width: 20%;
        padding-left: .5rem;
        margin-left: .5rem;
        float: right;
        
    }
    
    aside > p {
        margin: .5rem;
    }
    
    .navigation {
        background-color: #3c6e71;
    }
    .navigation :hover {
    background-color: #d9d9d9;
    border-radius: 2em;
    }
    /*Footer*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #map {
        grid-row: 1 / 3;
    }
    #name {
        grid-row: 1;
        grid-column: 1;
        margin: 0 12em .5em 12em;
    }
    #sociallinks, #bottomfooter {
        grid-column: 1 / 3;
    }

    /*Reservation Page*/
    #reservation {
        font-size: 1.5em;
    }
    #contactinfo {
        margin: 0 20em 0 20em;
    }
    /*Temples Page*/
    .temple{
        display: grid;
        grid-template-columns: 1.8fr 1fr;
        gap: 1em;
    }
    .temple img {
        grid-column: 1;
        grid-row: 1 / 10;
        margin:  8em;
        margin-left: 2em;
    }
    .temple h2, .temple p {
        grid-column: 2;
    }
}