@media only screen and (min-width: 57em){
    aside {
        display: block;
        width: 20%;
        padding-left: .5rem;
        margin-left: .5rem;
        float: right;
        text-align: center;
        
    }
    aside h1, aside h3 {
        padding: .5em;
        margin: .25em;
        
    }
    aside > p {
        margin: .5rem;
    }
    aside span, aside h4, aside p {
        color: #d9d9d9;
    }
 
    #weatherID {
        border-style: none;
        background-color: #3c6e71;
    }
    #weatherID section {
        background-color: #d9d9d9;
        margin-top: 1em;
        border-radius: 1.8em;
        border-style: solid;
        background-color: #284b63;
    }
    #weatherID h4 {
        color:#d9d9d9;
    }
    .weatherWidget {
        background-color: #3c6e71;
    }
    
    .navigation {
        background-color: #3c6e71;
    }
    .navigation :hover {
    background-color: #d9d9d9;
    border-radius: 2em;
    }
    /*Footer*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #map {
        grid-row: 1 / 3;
        margin-top: 4em;
    }
    #name {
        grid-row: 1;
        grid-column: 1;

    }
    #sociallinks, #bottomfooter {
        grid-column: 1 / 3;
    }


    /*Reservation Page*/
    #reservation {
        font-size: 1.5em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1em;
    }
    #reservation img {
        grid-column: 2;
        grid-row: -1;
        margin-top: auto;
        margin-bottom: 6em;
    }

    
    /*Temples Page*/
   #templespage section {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }
    /*Services*/
    #servicespage {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #reception {
        grid-column: 3;
    }

}