body {
    font-family: 'Montserrat', sans-serif;
}
header {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: #3c6e71;
    gap: .5em;
}
#title {
    font-size: 1.3em;
    background-color: #d9d9d9;
    border-radius: 1em;
    border-style: solid;
}

#templeLogo { 
    background-color: #d9d9d9;
    border-radius: 2em;
    margin-right: .5em;
    border-style: solid;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}



.navigation a.ham::before {
	content: '\2630';
}

.responsive li {
	display: block;
    background-color: #d9d9d9; 
    border-radius: .5em;
    border-style: solid;
    margin: .075em;
}

.responsive a.ham::before {
	content: "❌ ";
    margin: auto;
}
.home {
    margin-left: .5em;
}

/*Main*/
picture {
    display: block;
    margin: auto;
    width: 90%;
}

/*footer*/
footer {
    background-color: #3c6e71;
    padding: .5em;
    text-align: center;
}

#contactinfo {
    text-align: left;
    padding: .5em .5em 2em .5em;
}

#sociallinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: .5em;
}
picture.social {
    background-color: #d9d9d9;
    border-radius: 5em;
    padding: .2em;
    width: 50%;
    padding-top: .5em;
    border-style: solid;
    border-width: 2px;
}

#bottomfooter {
    border-top-style: solid;
    padding: .5em;
}